body {
    font-family: 'Poppins', sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

header a {
    color: #66ccff;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

h2 {
    color: #333;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 8px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #007BFF;
    color: white;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


@media (max-width: 600px) {
    section {
        width: 90%;
        padding: 15px;
    }
}